<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="C:\Users\Muhammad Mirza\Documents\dev\goLaundryWebAPI\Log\txtLog\InnerLog.txt">
	<extensions>
		<add assembly="NLog.Extended" />
	</extensions>

	<targets>
		<target name="logfile" xsi:type="File" fileName="C:/Users/Muhammad Mirza/Documents/dev/goLaundryWebAPI/Log/txtLog/${shortdate}_log.txt" layout="${longdate} ${level:uppercase=true} ${message}"/>

		<target xsi:type="Database"
         name="databaseTarget"
				 connectionString="data source=laundryDB.mssql.somee.com;initial catalog=laundryDB;User Id=muhdmza2307_SQLLogin_1;Password=sgj4t47f1q"
         commandText="INSERT INTO [API_IOLog](Level,Message,LogDate,Exception, CallSite, Trace,Logger) VALUES (@level,@messsge,getutcdate(),@exception,@callSite,@trace,@logger)">
			<parameter name="@level" layout="${level}" />
			<parameter name="@messsge" layout="${message}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@trace" layout="${trace}" />
			<parameter name="@logger" layout="${logger}" />
		</target>
	</targets>
	
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="databaseTarget" />
	</rules>
</nlog>


